<ion-header>
  <ion-navbar>
    <ion-title>{{ product.title }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<!-- ======================================================== -->
  <!-- Product Images Slide -->
  <!-- ======================================================== -->
  <ion-card>
    <ion-slides loop="true" autoplay="3000" pager>
      <ion-slide *ngFor="let image of product.images">
        <img [src]="image.src">
      </ion-slide>
    </ion-slides>

    <ion-card-content>
    	<ion-card-title>
    		{{ product.title }} &nbsp;
    		<ion-chip *ngFor="let category of product.categories" style="margin-left: 5px;">
    			<ion-label color="danger">{{ category }}</ion-label>
    		</ion-chip>
  		</ion-card-title>

  		<p [innerHTML]="product.description"></p>

  		<button ion-button icon-left block outline color="danger">
  			<ion-icon name="basket"></ion-icon> Add to Cart
  		</button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="product.attributes.length">
    <ion-card-content>
    	<ion-card-title>
    		Specifications
  		</ion-card-title>

  		<ion-grid>
  			<ion-row *ngFor="let attr of product.attributes">
  				<ion-col col-4>{{ attr.name }}</ion-col>
  				<ion-col col-8>
  					<span *ngFor="let option of attr.options">
  						{{ attr.option }}
						</span>
  				</ion-col>
  			</ion-row>
  		</ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>